
h3 {
    text-align: center;
}
p {
    text-align: center;
    font-size: 2em;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    border-radius: 20px;
    border-radius: 10px;
background: #e0e0e0;
box-shadow:  20px 20px 40px #acacac,
             -20px -20px 40px #ffffff;
}
input {
    box-shadow:  20px 20px 40px #acacac,
             -20px -20px 40px #ffffff;
}